root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Project files
[*.{csproj,props,targets,xml,config,nuspec,resx,ruleset,sln,slnx}]
indent_size = 2

# JSON/YAML
[*.json]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false


#######################################
# C# Formatting
#######################################

[*.cs]

# Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

# Namespace
csharp_style_namespace_declarations = file_scoped:warning

# Accessibility
dotnet_style_require_accessibility_modifiers = always:warning

# Modifiers
csharp_preferred_modifier_order = public,private,protected,internal,static,abstract,virtual,override,sealed,readonly,async,unsafe,new

#######################################
# Nullable / Modern C#
#######################################

dotnet_style_null_propagation = true:warning
dotnet_style_coalesce_expression = true:warning
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_explicit_tuple_names = true:warning

csharp_style_throw_expression = true:warning
csharp_style_conditional_delegate_call = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_prefer_not_pattern = true:warning
csharp_style_prefer_extended_property_pattern = true:warning

#######################################
# var usage
#######################################

csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:warning

#######################################
# Naming
#######################################

dotnet_naming_rule.types_pascal_case.severity = warning
dotnet_naming_rule.types_pascal_case.symbols = types
dotnet_naming_rule.types_pascal_case.style = pascal_case

dotnet_naming_symbols.types.applicable_kinds = class,struct,interface,enum,record,delegate

dotnet_naming_style.pascal_case.capitalization = pascal_case


dotnet_naming_rule.interfaces_prefix_i.severity = warning
dotnet_naming_rule.interfaces_prefix_i.symbols = interfaces
dotnet_naming_rule.interfaces_prefix_i.style = interface_style

dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_style.interface_style.required_prefix = I
dotnet_naming_style.interface_style.capitalization = pascal_case


dotnet_naming_rule.private_fields_underscore.severity = warning
dotnet_naming_rule.private_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_underscore.style = private_field_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.private_field_style.required_prefix = _
dotnet_naming_style.private_field_style.capitalization = camel_case


#######################################
# Braces
#######################################

csharp_prefer_braces = true:warning
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false


#######################################
# New lines
#######################################

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true


#######################################
# Indentation
#######################################

csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current


#######################################
# Expression body
#######################################

csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning


#######################################
# Code quality
#######################################

dotnet_diagnostic.IDE0055.severity = warning
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA1852.severity = warning